body{
    margin: 0px;
    font-family: 'Noto Sans TC', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header header header header header"
    "navbar navbar navbar navbar navbar navbar navbar"
    "about  main   main   main   main   main   main  "
    "footer footer footer footer footer footer footer";
}

@media screen and (max-width: 600px) {
    .grid-container{
        grid-template-areas: 
        "header header header header header header header"
        "navbar navbar navbar navbar navbar navbar navbar"
        "about  about  about  about  about  about  about "
        "main   main   main   main   main   main   main  "
        "footer footer footer footer footer footer footer";
    }
}

.header{
    grid-area: header;
    text-align: center;
    background: #202020;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar{
    grid-area: navbar;
    text-align: center;
    background: #292F33;
    color: whitesmoke;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover{
    background-color: #ddd;
    color: black;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    color: whitesmoke;
    padding: 14px 16px;
    margin: 0px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
    font-size: 16px;
    text-align: left;
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.about{
    grid-area: about;
    text-align: center;
    background: #484848;
    color: whitesmoke;
    padding-bottom: 100px;
}

.about .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 180px;
  }

.main{
    grid-area: main;
    text-align: left;
    background: #202020;
    color: whitesmoke;
}

.main .content{
    
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    max-width: 80%; 
    height: auto;
}

.main h1{
    color: orange;
}

.main h2{
    color: #1E90FF;
}

.main p{
    color: whitesmoke;
    font-size: 14px;
}

.main a{
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; 
    height: auto;
}

.main pre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; 
    height: auto;
    overflow-x: scroll;
}

.article{
    text-align: left;
    background: #484848;
    color: white;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    max-width: 80%;
    height: auto;
}

.footer{
    grid-area: footer;
    text-align: center;
    background: #292F33;
    color: whitesmoke;
    padding: 30px;
}